.jsc-line {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: line-flow;
  animation-timing-function: linear;
  fill: none !important;
  stroke: cyan;
  stroke-dasharray: 4;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.jsc-spots {
  stroke: none;
}
