.jsc-series:nth-child(1) {
  fill: deepskyblue;
  stroke: deepskyblue;
}
.jsc-series:nth-child(2) {
  fill: orangered;
  stroke: orangered;
}
.jsc-series:nth-child(3) {
  fill: hotpink;
  stroke: hotpink;
}
.jsc-series:nth-child(4) {
  fill: darkcyan;
  stroke: darkcyan;
}
.jsc-series:nth-child(5) {
  fill: goldenrod;
  stroke: goldenrod;
}
