.jsc-chart {
  position: relative;
}

[role="tooltip"] {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  color: white;
  font-size: 12px;
  padding: 4px 8px;
  pointer-events: none;
  position: absolute;
  z-index: 1;
}

.jsc-tooltip {
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 4px;
  box-shadow: 0px 0px 32px 4px rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 12px;
  padding: 4px 8px;
  pointer-events: none;
  position: fixed;
}
.jsc-tooltip-mask {
  fill: black;
  fill-opacity: 0.25;
}
.jsc-tooltip-text {
  fill: white;
  font-size: 8px;
}