.jsc-chart {
  position: relative;
}

.jsc-dyeable {
  cursor: pointer;
  opacity: 0.75;
}
.jsc-dyeable:hover {
  opacity: 1;
}
.jsc-dyeable:nth-child(1) {
  fill: dodgerblue;
  stroke: dodgerblue;
}
.jsc-dyeable:nth-child(2) {
  fill: crimson;
  stroke: crimson;
}
.jsc-dyeable:nth-child(3) {
  fill: limegreen;
  stroke: limegreen;
}
.jsc-dyeable:nth-child(4) {
  fill: blueviolet;
  stroke: blueviolet;
}
.jsc-dyeable:nth-child(5) {
  fill: hotpink;
  stroke: hotpink;
}
.jsc-dyeable:nth-child(6) {
  fill: lawngreen;
  stroke: lawngreen;
}
.jsc-dyeable:nth-child(7) {
  fill: goldenrod;
  stroke: goldenrod;
}

.jsc-fan {
  cursor: pointer;
  stroke: none !important;
}
